* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(fundoazul2.jpg);
  background-position: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 40px;
}

.titulo {
  width: 800px;
  background-color: rgba(75, 148, 207, 0.404);
  margin: auto;
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  box-shadow: inset 0 0 1em blue, 0 0 1em black;
}

.cor-regiao {
  font-size: 20px;
  color: white;
}

.selecao {
  text-decoration-color: white;
}

.opcoes {
  text-align: center;
  background-color: rgba(0, 0, 5, 0.8);
  width: 800px;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
  padding-top: 10px;
}

.eventos {
  background-color: rgb(60, 125, 223);
  display: block;
  margin: 20px 0px 20px 0px;
  margin-left: 277px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #266473;
  padding: 10px 60px;
  outline: none;
  font-family: "Times New Roman", Times, serif;
  color: white;
  cursor: pointer;
  transition: 0.25px;
}

button {
  background-color: rgb(60, 125, 223);
  display: block;
  margin: 20px 0px 20px 0px;

  margin-left: 340px;
  text-align: center;
  border-radius: 12px;
  border: 2px solid #266473;
  padding: 10px 50px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.25px;
}

#editar > button {
  float: right;
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-color: rgb(60, 125, 223);
  /* para ajustar a posição */
  margin: 10px 129px 0px 0px;
  border-radius: 12px;
  border: 2px solid #266473;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
  transition: 0.25px;
}

#excluir > button {
  float: left;
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-color: rgb(60, 125, 223);
  /* para ajustar a posição */
  margin: 10px 129px 0px 132px;
  border-radius: 12px;
  border: 2px solid #266473;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
  transition: 0.25px;
}

a {
  text-decoration: none;
}
